<template>
    <div id="frontpage">
        <CategoryList v-bind:categories="categories"/>

    </div>
</template>
<script>
import CategoryList from "./CategoryList"
import {getAllCategories} from '../APIRequests'
export default {
    name : 'FrontPage',
    components: {
        CategoryList
    },
    data() {
        return{
            categories : []
        }
    },
    created() {
        getAllCategories().then((res) => {
            this.categories = res;
        })
    }
}
</script>
<style scoped>

</style>