<template>
  <div id="logIn">
    <div id="textfields">
      <v-text-field label="Email" filled v-model="email"></v-text-field>
      <v-text-field label="Password" :type="'password'" filled v-model="password"></v-text-field>
    </div>
    <div id="buttons">
      <v-btn @click="logIn">log in</v-btn>
      <v-btn @click="register">sign up</v-btn>
    </div>
  </div>
</template>
<script>
let firebase = require("firebase");
export default {
  name: "LogIn",
  methods: {
    logIn() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(() => {
          this.$router.push("/frontpage");
        })
        .catch(function(error) {
          this.console.log(error);
        });
    },
    register() {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .catch(function(error) {
          this.console.log(error);
        });
    }
  },
  data() {
    return {
      email: "",
      password: ""
    };
  }
};
</script>
<style scoped>
</style>