<template>
    <div id="container">
        <v-text-field label="Comment" filled v-model="comment.body"></v-text-field>
        <v-btn @click="postComment">comment</v-btn>
        <p>{{votable.name}}</p>
        <p v-for="comment in votable.comments" :key="comment.id"> {{comment.body}} </p>
    </div>
</template>
<script>
import {getVotableById} from "../APIRequests"
import {postComment} from "../APIRequests"
export default {
    name: "Votable",
    props: {
        votableId : Number
    },
    data() {
        return {
            votable : {},
            comment : {
                commentId : 0,
                body : "",
                score : 0,
                userId : "nielsje"
            }
        }
    },
    created() {
        getVotableById(this.votableId).then((res) => {
            this.votable = res;
            this.$socket.emit('join-votable-room', this.votable)
        })
    },
    methods: {
        postComment() {
            this.$socket.emit('add-comment', {votableId: this.votableId, comment: this.comment})
            postComment(this.comment,  this.votableId);
        }
    },
    sockets: {
        add_comment:function(comment) {
            this.votable.comments.push(comment);
        }
    }
}
</script>
<style scoped>

</style>